#statsTool {
  background-color: #26282e;
  width: 20%;
  height: 92%;
  top: 5%;
  left: 2%;
  position: fixed;
}

#filter {
  background-color: #26282e;
  width: 72%;
  height: 20%;
  top: 5%;
  right: 2%;
  position: fixed;
}

#playerList {
  background-color: #26282e;
  color: #e6dbdb;
  width: 72%;
  height: 70%;
  top: 27%;
  right: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
}

.borderDiv {
  border: #000000 3px solid;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin: 0%;
}

#app {
  font-family: monospace;
  color: azure;
  height: 100%;
  width: 100%;
  overflow: hidden;
}



